# Ambiente virtual
.venv/

# Variáveis de ambiente — nunca sobe para o Git
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs
*.log
app/logs/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db